# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Distribution / packaging
*.whl

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.iml


# TEMP
*.csv
*.png
*.odg

# local
_ideation/**
wine-review/**